In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import re
%matplotlib inline

In [2]:
master = pd.read_csv('C:/Users/19739/Desktop/Money Ball/Money_Ball/Resources/People.csv', parse_dates=['debut', 'finalGame'])
# Currently not caring about pitchers

In [3]:
bbmaster = master[['playerID', 'nameFirst', 'nameLast', 'nameGiven']]
print(len(bbmaster))
bbmaster.head(2)

20370

    playerID nameFirst nameLast    nameGiven
0  aardsda01     David  Aardsma  David Allan
1  aaronha01      Hank    Aaron  Henry Louis

In [4]:
batting = pd.read_csv('C:/Users/19739/Desktop/Money Ball/Money_Ball/Resources/Batting.csv')
batting.columns

Index(['playerID', 'yearID', 'stint', 'teamID', 'lgID', 'G', 'AB', 'R', 'H',
       '2B', '3B', 'HR', 'RBI', 'SB', 'CS', 'BB', 'SO', 'IBB', 'HBP', 'SH',
       'SF', 'GIDP'],
      dtype='object')

In [5]:
print(len(batting))
batting.head(2)

110495

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,abercda01,1871,1,TRO,NaN,1,4,0,0,0,...,0.0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,0.0
1,addybo01,1871,1,RC1,NaN,25,118,30,32,6,...,13.0,8.0,1.0,4,0.0,NaN,NaN,NaN,NaN,0.0

In [6]:
master_batting = pd.merge(master, batting)

In [7]:
batting.columns

Index(['playerID', 'yearID', 'stint', 'teamID', 'lgID', 'G', 'AB', 'R', 'H',
       '2B', '3B', 'HR', 'RBI', 'SB', 'CS', 'BB', 'SO', 'IBB', 'HBP', 'SH',
       'SF', 'GIDP'],
      dtype='object')

In [8]:
bats = batting[['playerID', 'yearID','AB', 'H', 'BB', 'HBP', 'SF']]
bats.head()
print(len(bats))
bbdata2 = pd.merge(bbmaster, bats)
bbdata2.head(2)

110495

    playerID nameFirst nameLast    nameGiven  yearID  AB  H  BB  HBP   SF
0  aardsda01     David  Aardsma  David Allan    2004   0  0   0  0.0  0.0
1  aardsda01     David  Aardsma  David Allan    2006   2  0   0  0.0  0.0

In [9]:
salaries = pd.read_csv('C:/Users/19739/Desktop/Money Ball/Money_Ball/Resources/Salaries.csv')
salaries.columns

Index(['yearID', 'teamID', 'lgID', 'playerID', 'salary'], dtype='object')

In [10]:
salaries = salaries[['yearID', 'playerID', 'salary']]
print(len(salaries))
salaries.head(2)

26428

   yearID   playerID  salary
0    1985  barkele01  870000
1    1985  bedrost01  550000

In [11]:
bbdata_sal = pd.merge(bbdata2, salaries)
print(len(bbdata_sal))
bbdata_sal.head()

28294

,playerID,nameFirst,nameLast,nameGiven,yearID,AB,H,BB,HBP,SF,salary
0,aardsda01,David,Aardsma,David Allan,2004,0,0,0,0.0,0.0,300000
1,aardsda01,David,Aardsma,David Allan,2007,0,0,0,0.0,0.0,387500
2,aardsda01,David,Aardsma,David Allan,2008,1,0,0,0.0,0.0,403250
3,aardsda01,David,Aardsma,David Allan,2009,0,0,0,0.0,0.0,419000
4,aardsda01,David,Aardsma,David Allan,2010,0,0,0,0.0,0.0,2750000

In [12]:
# Drop all AB values of 0 or null (average at-bats in MLB is 30/year)
bbdata_sal = bbdata_sal.drop(bbdata_sal.index[(bbdata_sal['AB'] < 15) | \
                                              (bbdata_sal['H']  < 1) | \
                                              (pd.isnull(bbdata_sal['AB']))])

In [13]:
bbdata_sal['OBP'] = bbdata_sal.apply(lambda row: (row['H'] + row['BB'] + row['HBP']) * 100 / \
                                     (row['AB'] + row['BB'] + row['HBP'] + row['SF']), axis=1)

In [17]:
bbdata_sal.sort_values(['OBP'], ascending=False).head(2)

,playerID,nameFirst,nameLast,nameGiven,yearID,AB,H,BB,HBP,SF,salary,OBP
2518,bondsba01,Barry,Bonds,Barry Lamar,2004,373,135,232,9.0,3.0,18000000,60.940032
2516,bondsba01,Barry,Bonds,Barry Lamar,2002,403,149,198,9.0,2.0,15000000,58.169935

In [18]:
bbdata_sal = bbdata_sal.drop(bbdata_sal.index[bbdata_sal['salary'] <= 0])
pass

In [20]:
bbdata_sal['OBP_sal_10k'] = bbdata_sal.apply(lambda row: row['OBP'] * 10000 / row['salary'], axis=1)
bbdata_sal.sort_values('OBP_sal_10k', ascending=False).head(2)

,playerID,nameFirst,nameLast,nameGiven,yearID,AB,H,BB,HBP,SF,salary,OBP,OBP_sal_10k
23508,silveda01,Dave,Silvestri,David Joseph,1993,21,6,5,0.0,0.0,10900,42.307692,38.814397
8849,gibbojo02,John,Gibbons,John Michael,1986,19,9,3,0.0,0.0,65000,54.545455,8.391608

In [21]:
appearances = pd.read_csv('data/Appearances.csv')
appearances.columns

FileNotFoundError: [Errno 2] File data/Appearances.csv does not exist: 'data/Appearances.csv'

In [ ]:
appearances.pop('lgID')
appearances.pop('teamID')
pass

In [ ]:
print(len(appearances))
appearances.head(2)

In [ ]:
mb_data = pd.merge(appearances, bbdata_sal)
print(len(mb_data))
mb_data.head(2)

In [ ]:
#ROSTER TIME / Rules of baseball ### Change Pitcher to DH 
ROSTER=['G_p', 'G_c', 'G_1b', 'G_2b','G_3b', 'G_ss', 'G_lf', 'G_cf', 'G_rf']

In [ ]:
def mb_players(year, pos):
    return mb_data[(mb_data['yearID'] == year) & (mb_data[pos] > 5)][:100].sort(columns='OBP_sal_10k', ascending=False)

In [ ]:
def mb_roster(year):
    mbr_uf = []
    for pos in ROSTER:
        mbr_uf.append(mb_players(year, pos))
        
    ret = []
    no_overlap = []
    player_list = []
    for pos in mbr_uf:
        for n in range(len(pos)):
            if pos.iloc[n].playerID not in player_list:
                no_overlap.append(n)
        player_list.append(pos.iloc[no_overlap[0]].playerID)
        ret.append(pos.iloc[no_overlap[0]])
        no_overlap = []
                       
    return pd.DataFrame(ret)

In [1]:
#PLug in a year & Enjoy!!!!

mb_roster(2001)

NameError: name 'mb_roster' is not defined